In [1]:
# read the data from word_freq_5_sp.txt 
# production: 80953
# of: 13236223
# massive: 77379
# photon: 77053
# pairs: 55240
# at: 1074162

import numpy as np
import pandas as pd


def read_data(filename):
    data = pd.read_csv(filename, sep=': ', header=None)
    data.columns = ['word', 'freq']
    return data

df = read_data('word_freq_5_sp_EQU.txt')
df

/tmp/ipykernel_3381550/2458009535.py:14: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(filename, sep=': ', header=None)

                  word     freq
0                  NaN  2367228
1                    A   369393
2                fully    64771
3         differential    82302
4          calculation    44562
...                ...      ...
225228             QJS        6
225229            UQTM        7
225230  retrodictively        6
225231            ZHSL        7
225232            DBTs        6

[225233 rows x 2 columns]

In [2]:
# df['word] all to lower case
df['word'] = df['word'].str.lower()
# add the freq of the same word
df = df.groupby(['word']).sum()
# sort the freq
df = df.sort_values(by=['freq'], ascending=False)
# filt all the freq < 20
df = df[df['freq'] >= 50]


df

            freq
word
the     22075347
of      13240546
.       12435174
,       11644948
-        8249768
...          ...
2.7x          50
2.63          50
moh           50
molloy        50
+1.5          50

[53062 rows x 1 columns]

In [8]:
df.to_csv('word_freq_50_sp.csv', sep=',', header=True, index=True)
wordlist = df.index.tolist()
# CITE , FIG , REF, SEC, POINT add to token list
wordlist.append('CITE')
wordlist.append('FIG')
wordlist.append('REF')
wordlist.append('SEC')
wordlist.append('POINT')
# save the wordlist
with open('wordlist.txt', 'w') as f:
    for item in wordlist:
        f.write("%s\n" % item)

In [2]:
from transformers import BertTokenizer

tokenizer = BertTokenizer(vocab_file='wordlist.txt')

token_list = []

tokens = tokenizer.tokenize("Coronavirus disease 2019 covid-19 is a contagious disease caused by the virus SARS-CoV-2.")
token_list.extend(tokens)

# 打印 token list
print(token_list)
# save the tokenizer
tokenizer.save_pretrained('/home/jjdong/wholewordbert')

['coronavirus', 'disease', '2019', 'covid-19', 'is', 'a', 'contagious', 'disease', 'caused', 'by', 'the', 'virus', '[UNK]', '.']

('/home/jjdong/wholewordbert/tokenizer_config.json',
 '/home/jjdong/wholewordbert/special_tokens_map.json',
 '/home/jjdong/wholewordbert/vocab.txt',
 '/home/jjdong/wholewordbert/added_tokens.json')